@model IEnumerable<Art_Exhibition_Project.Models.Art>

@{
    ViewData["Title"] = "Index";
}

<h1>Arts</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.FirstName)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ArtId">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ArtId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ArtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
