@model IEnumerable<Art_Exhibition_Project.Models.Exhibition>
@using Microsoft.AspNetCore.Identity
@using Art_Exhibition_Project.Areas.Identity.Data
@inject SignInManager<Art_Exhibition_ProjectUser> SignInManager
@inject UserManager<Art_Exhibition_ProjectUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Exhibition</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GalleryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GalleryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ExhibitionID">Edit</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ExhibitionID">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ExhibitionID">Delete</a>
                    </td>
                }
            
        </tr>
}
    </tbody>
</table>
