@model IEnumerable<Art_Exhibition_Project.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<h1>Rentals</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create</a>
</p>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalFinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Art)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalFinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Art.ArtId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.RentalID">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RentalID">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RentalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
