@model IEnumerable<Art_Exhibition_Project.Models.PurchaseOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>PurchaseOrders</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Art)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Art.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PurchaseOrderID">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PurchaseOrderID">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PurchaseOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
