@using ArtExhibitionProject.Models
@inject SignInManager<Art_Exhibition_ProjectUser> SignInManager
@inject UserManager<Art_Exhibition_ProjectUser> UserManager
@model PaginatedList<Art_Exhibition_Project.Models.Customer>
@using Microsoft.AspNetCore.Identity
@using Art_Exhibition_Project.Areas.Identity.Data


@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Zip
            </th>
            <th>
                Country
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
                    </td>
                }
            
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="pagination-container text-center mt-4">
    <a class="page-link btn btn-default @prevDisabled d-inline-flex"
       asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
        Previous
    </a>

    <span class="page-link mx-2 d-inline-flex">
        Page @Model.PageIndex of @Model.TotalPages
    </span>

    <a class="page-link btn btn-default @nextDisabled d-inline-flex"
       asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
        Next
    </a>
</div>





